*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#000, #fff);
  --primary-color: rgb(223, 207, 57);
  --secondary-color: rgb(134, 40, 40);
  background-color: light-dark(#fff, #242424);
}
